<div class="group">
  <%= f.label :active, "active", :class => :label %>
  <%= f.check_box :active, :class => 'checkbox' %>
  <span class="description">Activation of the alias</span>
</div>        

<div class="group">
  <%= f.label :domain, "domain", :class => :label %>
  <%= collection_select(:alias, :domain_id, Domain.all, :id, :domain, {:prompt => true}) %>
  <span class="description">Domain of the User</span>
</div>

<div class="group">
  <%= f.label :address, "name", :class => :label %>
  <%= f.text_field :name, :class => 'text_field' %>
  <span class="description">Alias name like: info</span>
</div>

<div class="group">
  <%= f.label :goto, "goto", :class => :label %>
  <%= f.text_field :goto, :class => 'text_field' %>
  <span class="description">Forwarding address like: info@example.com</span>
</div>
<div class="group navform">
  <input type="submit" class="button" value="Save &rarr;" /> or <%= link_to 'Cancel', aliases_path %>
</div>
