<div class="block">
  <div class="secondary-navigation">
    <ul>
      <li class="first"><%= link_to 'List', domains_path  %></li>
      <li><%= link_to 'New', new_domain_path %></li>
      <li class="active"><%= link_to 'Edit', edit_domain_path %></li>
    </ul>
    <div class="clear"></div>
  </div>          
  <div class="content">            
    <h2 class="title">Edit Domain</h2>
    <div class="inner">
      <div class="error">
        <%= error_messages_for :domain -%>
      </div>
      <% form_for @domain, :url => domain_path(@domain), :html => { :class => :form } do |f| -%>
          <div class="group">
            <%= f.label :active, "active", :class => :label %>
            <%= f.check_box :active, :class => 'checkbox' %>
            <span class="description">Activation of the domain</span>
          </div>
          <div class="group">
            <%= f.label :domain, "domain", :class => :label %>
            <%= f.text_field :domain, :class => 'text_field' %>
            <span class="description">A domain with its tld like: example.com</span>
          </div>
        <div class="group navform">
          <input type="submit" class="button" value="Save &rarr;" /> or <%= link_to 'Cancel', domains_path %>
        </div>
      <% end -%>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'shared/sidebar') -%>